<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map"
        integrity="undefined" crossorigin="anonymous" />

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Sen&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header " id="topheader">

        <nav class="navbar navbar-expand-md fixed-top navbar-light" style="background-color: rgba(115, 185, 185,0.09);">
            <div class=" taba container text-uppercase p-2">
                <a class="navbar-brand   font-weight-bold  text-white" href="#"><img src="/img2.jpg"
                        width=4% class="rounded-circle" alt=""> ProtoWeb <button class="navbar-toggler navtog" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent">
                        <span class="navbar-toggler-icon navtogi"></span>
                    </button></a>
                

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#serviceid">Service</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="#pricingid">price</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="#newsletterid">about</a></li>

                        <li class="nav-item">
                            <a class="nav-link" href="#contactid">contact</a></li>

                    </ul>
                </div>
                
            </div>
            
        </nav>



        <section class="header-section ">
            <div class="center-div">
                <h1 class="font-weight-bold">We Are The Web Devolopers</h1>
                <p>we create world class websites</p>
                <div class="header-button">
                    <a href="#newsletterid">AboutUs</a>
                    <a href="#contactid">Contact</a>
                </div>

        </section>
    </div>

    <!-- 
    ******************header part ends******************** -->
    <!-- 
    ******************three extra div part start************* -->
    <div class="header-threediv">
        <div class="container ">
            <div class="row">
                <div class=" extradiv col-lg-4 col-md-4 col-12  text-center ">
                    <a href="#"><i class="fa-3x fa fa-desktop " aria-hidden="true"></i></a>
                    <h2>Easy to use</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, nemo eius minus ipsum consequuntur
                        voluptate placeat culpa repudiandae esse quas sint vitae modi reiciendis, veniam unde ad fugit
                        vel quis.</p>


                </div>
                <div class=" extradiv col-lg-4 col-md-4 col-12  text-center">
                    <a href="#"><i class="fa-3x fa fa-trophy" aria-hidden="true"></i></a>
                    <h2>Awesome design</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, nemo eius minus ipsum consequuntur
                        voluptate placeat culpa repudiandae esse quas sint vitae modi reiciendis, veniam unde ad fugit
                        vel quis.</p>


                </div>
                <div class=" extradiv col-lg-4 col-md-4 col-12img  text-center">
                    <a href="#"><i class="fa-3x fa fa-magic" aria-hidden="true"></i></a>
                    <h2>Easy to customize</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, nemo eius minus ipsum consequuntur
                        voluptate placeat culpa repudiandae esse quas sint vitae modi reiciendis, veniam unde ad fugit
                        vel quis.</p>


                </div>
            </div>
        </div>
    </div>

    <!-- 
    ******************three extra div part ends************* -->



    <!-- 
    ******************three extra div part start************* -->
    <section class="serviceoffer" id="serviceid">
        <div class="header-text text-center serviceheader">
            <h1>WHAT DO WE OFFER</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, voluptates.</p>
    
        </div>
        <div class="container servicebox">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2 class="text-left" style="font-size: large; text-transform: uppercase;font-weight: bold;">html</h2>
                    <div class="progress w-75">
    
                        <div class="progress-bar  progress-bar-striped bg-info" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            100% Complete (success)
                        </div>
                    </div>
                    <h2 class="text-left" style="font-size: large; text-transform: uppercase;font-weight: bold;">css</h2>
                    <div class="progress w-75 ">
    
                        <div class="progress-bar  progress-bar-striped bg-danger" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:80%;">
                            80% Complete (success)
                        </div>
                    </div>
                    <h2 class="text-left" style="font-size: large; text-transform: uppercase;font-weight: bold;"> js</h2>
                    <div class="progress w-75">
    
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:70%">
                            70% Complete (success)
                        </div>
                    </div>
                    <h2 class="text-left" style="font-size: large; text-transform: uppercase;font-weight: bold;">bootstrap
                    </h2>
                    <div class="progress w-75">
    
                        <div class="progress-bar  progress-bar-striped bg-primary" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            90% Complete (success)
                        </div>
                    </div>
                    <h2 class="text-left" style="font-size: large; text-transform: uppercase;font-weight: bold;">jquery</h2>
                    <div class="progress w-75">
    
                        <div class="progress-bar  progress-bar-striped bg-secondary" role="progressbar" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="width:75%">
                            75% Complete (success)
                        </div>
                    </div>
    
                </div>
    
                <div class="col-lg-6 col-12 serv ">
                    <div class="row service">
                        <div class="col-lg-2 serviceicon">
                            <a href="#"><i class="fa-3x fa fa-desktop" aria-hidden="true"></i></a>
    
                        </div>
    
                        <div class=" col-lg-10 webdev">
                            <h2 style="text-align: left;">website development</h2>
                            <p style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
                                explicabo quas tempore sit inventore saepe velit perspiciatis odio, quis ab.</p>
                        </div>
                    </div>
    
                    <div class=" row service">
                        <div class="col-lg-2 serviceicon">
                            <a href="#"><i class="fa-3x fa fa-wifi" aria-hidden="true"></i></a>
    
                        </div>
    
                        <div class=" col-lg-10 digimarket">
    
                            <h2 style="text-align: left;">digital marketting</h2>
                            <p style="text-align: left;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
                                inventore exercitationem enim similique quia nulla provident et ab, sequi ipsa!</p>
                        </div>
                    </div>
    
                    <div class="row service">
                        <div class="col-lg-2 serviceicon">
                            <a href="#"><i class="fa-3x fa fa-phone" aria-hidden="true"></i></a>
    
                        </div>
                        <div class=" col-lg-10 support">
    
                            <h2 style="text-align: left;">support 24/7</h2>
                            <p style="text-align: left;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque eos
                                qui at fugiat harum vitae.</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </section>

    <!-- 
    ******************three extra div part ends************* -->



<!-- 
    *****************third part starts from here*************** -->
<br><br>
    <section class="clientpart" id="clientid">
        <div class="header-text text-center clientheader">
            <p style="font-weight: bold; text-transform:uppercase ; ">More than 2,000 happy clients</p>
           
        </div>
        <div class="container d-flex justify-content-around align-items-center">
            <div class="numb">
                <h1 class="count">1500</h1>
                <p>cms installation</p>
            </div>
            <div class="numb">
                <h1  class="count">2500</h1>
                <p>awards won</p>
            </div>
            
        
            <div class="numb">
                <h1 class="count">500</h1>
                <p>working on</p>
            </div>
        </div>
    </section>


<!--     
    *****************third part ends here*************** -->
<!-- 
    *************forth part starts here************** -->
    <section class=" pricingpart" id="pricingid">
        <div class="header-text text-center pricingheader">
            <h2 style="font-weight: bold; text-transform:uppercase ; ">OUR BEST PRICING</h2>
            </div>

            <div class="container text-center">
                <div class="row">
                    <div class="col-lg-4 col-12">
                        <div class="card cari " style="width: 18rem;">
                            <div class="card-header">Basics</div>
                            
                            <div class="card-body">
                                <li>$ <span class="money">20</span>/website</li>
                              <li>Responsive Website</li>
                              <li>Domain Name Free</li>
                              <li>Mobile Friendly</li>
                              <li>Web Support</li>
                              <li>Customer Support</li>
                            </div>
                              <div class="card-footer">
                             
                              <a href="#" >purchase</a>
                            </div>
                            
                          </div>
                    </div>
                    <div class="col-lg-4 col-12">
                        <div class="card cari" style="width: 18rem;">
                            <div class="card-header">Standard</div>
                            
                            <div class="card-body">
                              <li>$ <span class="money">40</span>/website</li>
                              <li>Responsive Website</li>
                              <li>Domain Name Free</li>
                              <li>Mobile Friendly</li>
                              <li>Web Support</li>
                              <li>Customer Support</li>
                            </div>
                              <div class="card-footer">
                             
                                <a href="#" >purchase</a>
                              </div>
                          
                    </div></div>

                    <div class="col-lg-4 col-12">
                        <div class="card cari" style="width: 18rem;">
                            <div class="card-header">Unlimited</div>
                        
                            <div class="card-body">
                                <li>$ <span class="money">60</span>/website</li>
                              <li>Responsive Website</li>
                              <li>Domain Name Free</li>
                              <li>Mobile Friendly</li>
                              <li>Web Support</li>
                              <li>Customer Support</li>
                            </div>
                              <div class="card-footer">
                             
                                <a href="#">purchase</a>
                              </div>
                          
                    </div>
                </div>
            </div>

    
        </section>


    
    <!-- *************forth part ends here************** -->


     <!-- *************fifth part starts here************** -->

    <section class=" happyclients" id="pricingid">
        <div class="header-text text-center happyheader">
            <h2 style="font-weight: bold; text-transform:uppercase ;color: teal; ">OUR HAPPY CLIENTS</h2>
            <P style="color: darkslategrey;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, sint.</P>
            </div>

            <div class="container">

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner ">
                  <div class="carousel-item active">
                    <div class="row">

                        <div class="col-lg-4 col-12">      
                      
                          <div class="card cari" style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/bootstrapgeek/js/img3.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%;" alt="">
                              <div class="card-body " >
                                  <p style="color: deepskyblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, </p>
                                  
                                    <h1>Rohan Kumar</h1> <p>web developer</p> </div>  </div>
                          
                      </div></div>
                      <div class="col-lg-4 col-12">  
                          <div class="card cari" style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/bootstrapgeek/js/img2.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; " alt="">
                              <div class="card-body">
                                  <p style="color: deepskyblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo!</p>
                                      
                                  <h1>shivam joshi</h1>
                                  <p>web developer</p></div></div>
                                 
                              
                  
                          </div>
                          </div>
                          <div class="col-lg-4 col-12">  
                          <div class="card cari " style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/bootstrapgeek/js/img4.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; "alt=" ">
                              
                              <div class="card-body">
                                  <p style="color: deepskyblue;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, in!</p>
                                  
                                    <h1>Rohit Kumar</h1>
                                    <p>web developer</p></div></div>
                                 
                              
                              </div>
                  
                          </div>
                          </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">

                        <div class="col-lg-4 col-12">      
                      
                          <div class="card cari" style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/img2.jpg" class="rounded-circle card-img  img-thumbnail"  style="width: 30%; "alt="">
                              <div class="card-body">
                                  <p style="color: deepskyblue;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, </p>
                                  
                                    <h1>Rohan Kumar</h1>
                                    <p>web developer</p></div></div>
                          
                      </div></div>
                      <div class="col-lg-4 col-12">  
                          <div class="card cari" style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/img4.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; " alt="">
                              <div class="card-body">
                                  <p style="color: deepskyblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo!</p>
                                      
                                        <h1>Ronak Kumar</h1>
                                        <p>web developer</p>
                                    </div></div>
                              
                  
                          </div>
                          </div>
                          <div class="col-lg-4 col-12">  
                          <div class="card cari " style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/img5.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; " alt="">
                             
                              <div class="card-body">
                                  <p style="color: deepskyblue;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, in!</p>
                                  
                                    <h1 >harshit singh</h1> 
                                    <p>web developer</p></div></div>
                                 
                              
                              </div>
                  
                          </div>
                          </div></div>
                  <div class="carousel-item">
                    <div class="row">

                        <div class="col-lg-4 col-12">      
                      
                          <div class="card cari " style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/img6.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; " alt="">
                              <div class="card-body">
                                  <p style="color: deepskyblue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, </p>
                                  
                                    <h1>Rohan Kumar</h1>
                                <p>web developer</p></div></div>
                          
                      </div></div>
                      <div class="col-lg-4 col-12">  
                          <div class="card cari" style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/img3.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; " alt="">
                              <div class="card-body">
                                  <p style="color: deepskyblue;"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, illo!</p>
                                      
                                        <h1>Mayank Aggarwal</h1>
                                        <p>web developer</p></div></div>
                                 
                              
                  
                          </div>
                          </div>
                          <div class="col-lg-4 col-12">  
                          <div class="card cari" style="width: 250px;">
                              <div class="card-h text-center">
                              <img src="/img4.jpg" class="rounded-circle card-img img-thumbnail" style="width: 30%; " alt="">
                              
                              <div class="card-body">
                                  <p style="color: deepskyblue;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, in!</p>
                                  
                                    <h1>karan Sharma</h1>
                                    <p>web developer</p></div></div>
                                 
                              
                              </div>
                  
                          </div>
                          </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

            </div>
    </section>

 <!-- *************forth part ends here************** -->
           

  <!-- *************contact sixth part ends here************** -->


       
    <section class="contact" id="contactid">
        <div class="header-text text-center contactheader">
            <h2 style="font-weight: bold; text-transform:uppercase ;color:white; ">CONTACT US</h2>
            <P style="color: darkslategrey;">WE ARE ALWAYS HERE FOR YOU THANKYOU!</P>
            </div>
            <div class="container cont ">
                <div class="row">
                    <div class="col-lg-8 justify-content-center offset-lg-2">
                        <form class="for" id="myForm" method="POST" action="/feedback">
  <div class="form-group">

    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" name="name" class="form-control"  required id="exampleInputPassword1" placeholder="Name">
      </div>
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email "class="form-control" id="exampleInputEmail1" required aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">Mobile Number</label>
    <input type="number"  name="number"class="form-control" id="exampleInputPassword1"  required placeholder="Mobile Number">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message Us</label>
    <textarea class="form-control" name="Message" id="exampleFormControlTextarea1"  required  placeholder="Enter Your Message!" rows="3"></textarea>
  </div>
  <div class="form-check">
    <input type="checkbox"  required class="form-check-input" id="exampleCheck1">
    <label class="form-check-label"  for="exampleCheck1"> <small id="emailHelp"  class="form-text text-muted">agree</label></small>
  </div>
  <div class="d-flex justify-content-center form-button">
    <input type="submit" id="submitDetails"  
    name="submitDetails" value="Submit">
                    </div>
                </div>
            </div></form>
            </section>
      

   <!-- *************contact sixth part ends here************** -->


    <!-- *************contact seventh part starts here************** -->
    <section class="newsletter" id="newsletterid">
        <div class="header-text text-center newsletterheader">
            <h2 style="font-weight: bold; text-transform:uppercase ; "> SUBSCRIBE TO OUR NEWSLETTER</h2>
            
            </div>
            <div class="container  ">
                <div class="row">
                    <div class="col-lg-8 col-12 offset-lg-2 ">
                        <div class="input-group">
                            <div class="input-group-append">
            
                                <select class="lef" name="subject" id="">
                                    <option class="lef" value="">Handle</option>
                                    <option class="lef" value="">Facebook</option>
                                    <option  class="lef" value="">Instagram</option>
                                    <option class="lef" value="">youtube</option>
                                </select>
                            </div>
            
                            <input type="email" class="form-control" placeholder="enter you email" aria-label="Text input with dropdown button">
                            <div class="input-group-append">
                                <span class="input-group-text rig" id="basic-addon2">Subscribe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
</section>


     <!-- *************contact seventh part ends here************** -->


     <!-- *************contact footer part starts here************** -->

<footer class="footersection" id="footerid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="about">
                    <h3>ABOUT PROTOWEB</h3>
                    <p>we are helping businesses to grow through digital web hence we provide multiclass resposive websites to our clients,since 5 years.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div  class="quick">
                    <h3> <a href="#"></a> QUICK LINKS</h3>
                    <a href="#topheader"><li>HOME</li>   </a>
                   <a href="#contactid"> <li>CONTACT US</li></a>
                   <a href="#serviceid"> <li>SERVICES</li></a>
                   <a href="#contactid"> <li>CONTACT US</li></a>
                    
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="news">
                    <h3>NEWSLETTER</h3>
                    <p>Subscribe us here!</p>
                    <div class="quick"> <div class="input-group">
                        
        
                        <input type="email" class="form-control mig" placeholder="enter you email" aria-label="Text input with dropdown button">
                        <div class="input-group-append">
                            <span class="input-group-text rig" id="basic-addon2">Subscribe</span>
                        </div>
                    </div></div>
                </div>
            </div>
        </div>

        <div class="copyright text-center">
            <p>copyright @2019 all rights reserved |rohan kumar</p>
        </div>
        <div class="scroll float-right">
            <i class="fa-2x fa fa-arrow-circle-up   " onclick="topFunction()" id="mybtn"></i>
        </div>
    </div>
</footer>
</section>




      <!-- *************contact footer part ends here**************  -->

   





            
            
        
            

    



    <script src="\jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha256-w49DIDk8itgSjjuoof5lTxYKwcjWJ7Z2sRW3nU1StNA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js" integrity="sha256-wldfwyVJyA71oKe6Sba0fKZkaR6CMwtb0DnWcQs6N1Y=" crossorigin="anonymous"></script>
  <script src="\bootstrap.min.js"></script>
    

    <script>

      //form post script  
/////////////////////////////////////////////////////////


        $('.count').counterUp({
            delay:5,
            time:2000

        })

        mybutton=document.getElementById("mybtn");
        window.onscroll = function() {scrollFunction()};
        function scrollFunction(){
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20){
                mybutton.style.display ="block";

            }
            else{
                mybutton.style.display="none";
            }
        }
                function topFunction(){
                    document.body.scrollTop=0;
                        document.documentElement.scrollTop=0;
                        }
    </script>

</body>

</html>